
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="static/style.css" />
    </head>
    <body>
        <div class="iphone-pro">
            <div class="div">
                <div class="btn-div">
                    <div class="frame-wrapper">
                        <div class="frame">
                            <div class="frame-2">
                                <img class="img" src="img/heart.png" />
                                <div class="text-wrapper">I like this activity</div>
                            </div>
                        </div>
                    </div>
                    <div class="frame-wrapper">
                        <div class="frame">
                            <div class="frame-2">
                                <img class="img" src="img/next.png" />
                                <div class="text-wrapper">Show me another activity</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cardstack">
                    <div class="overlap-group">
                        <div class="rectangle"></div>
                        <div class="rectangle-2"></div>
                        <div class="main-content">
                            <div class="main-content-div">
                                <div class="txt-content">
                                    <div class="details">
                                        <div class="text-group">
                                            <div class="text-wrapper-2">📅  Date &amp; Duration:</div>
                                            <div class="text-wrapper-3">2023-11-15, 10AM, 1 hour</div>
                                        </div>
                                        <div class="text-group-2">
                                            <div class="text-wrapper-2">📍Location:</div>
                                            <p class="text-wrapper-3">
                                                Sunnyvale Community Center, 550 E. Remington Drive, Sunnyvale, CA 94087
                                            </p>
                                        </div>
                                        <div class="text-group">
                                            <div class="text-wrapper-2">📚 Matrials to prepare:</div>
                                            <div class="text-wrapper-3">Favorite storybook (optional)</div>
                                        </div>
                                        <div class="text-group-2">
                                            <div class="text-wrapper-2">🤹 Required Skills:</div>
                                            <p class="text-wrapper-3">basic comprehension, listening, engagement in group activity</p>
                                        </div>
                                    </div>
                                    <div class="title-tag-div">
                                        <div class="text-wrapper-4">Interactive Storytelling Session</div>
                                        <div class="tag-div">
                                            <div class="tag"><div class="text-wrapper-5">off-line</div></div>
                                            <div class="tag"><div class="text-wrapper-5">group-based</div></div>
                                            <div class="tag"><div class="text-wrapper-5">free</div></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="img-content">
                                    <div class="external-btn">
                                        <div class="frame-3">
                                            <div class="text-wrapper">Go to website</div>
                                            <img class="img" src="img/export.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="headline">
                    <div class="text-wrapper-6">Find activities</div>
                    <img class="profile" src="img/profile.png" />
                </div>
                <script src="static/script.js"></script>
            </div>
        </div>
    </body>
</html>
