<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autism-Friendly Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <h1 data-i18n="welcome-text">Welcome to your Autism Assistant!</h1>
    </div>
    <a href="https://mittspeciellabarn.se/" target="_blank">
        <button class="custom-button" data-i18n="visit-site">Visit Mitt Speciella Barn to learn more about their vision!</button>
    </a>

    <div class="container buttons-container">

        <label for="language" data-i18n="select-language">Select Language:</label>
        <select id="language" onchange="changeLanguage()">
            <option value="en">English</option>
            <option value="so">Somali</option>
            <option value="fa">Persian</option>
        </select>
        
        <div class="buttons-container">
            <button class="btn calm" onclick="speakText('calm-btn')" data-i18n="calm-btn">Next</button>
            <button class="btn focus" onclick="speakText('focus-btn')" data-i18n="focus-btn">Like</button>
        </div>
        
        <button class="btn dark-mode" onclick="toggleDarkMode()" data-i18n="toggle-dark">Toggle Dark Mode</button>
    </div>
</body>
</html>
